.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.container .title {
    color: #d90368;
    text-align: center;
    font-size: xx-large;
}

.container .precio {
    font-size: xx-large;
    text-align: center;
}

.stock {
    font-size: 1rem;
    text-align: center;
}

.comprar {
    font-size: 1rem;
    align-self: center;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    color: #291720;
    background-color: #fb8b24;
}

.comprar:hover {
    background-color: #42b873;
}